* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo a {
    text-decoration: none;
    color: inherit;  
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

body {
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ADD8E6; 
    font-size: 2em;
    padding: 10px 20px; 
    display: none;
    border-radius: 5px;
    z-index: 9999;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  #back-to-top:hover {
    background-color: #9AC0CD;
  }
  
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    font-size: 43px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
}

nav a:hover {
    color: cornflowerblue;
}


/* ------------------------------------------------------------------------------------------------- */

.case-study {
    font-family: 'Roboto', sans-serif; /* This matches your Google Fonts choice */
    font-size: 20px;
    line-height: 1.6;
    color: black;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.case-study h1, .case-study h2, .case-study h3, .case-study p, .case-study ul, .case-study li {
    margin: 3px 0;
}

.case-study h1 {
    font-size: 20px;
    color: black;
}

.case-study h2 {
    font-size: 28px;
    color: lightseagreen;
    border-bottom: 3px solid #eee;
    padding-top: 32px;
    padding-bottom: 1px;
}

.case-study h3 {
    font-size: 20px;
    padding-top: 30px;
    color: cornflowerblue;
}

.case-study h4 {
    font-size: 18px;
    padding-top: 15px;
    color: black;
}

.case-study h5 {
    font-size: 18px;
    padding-top: 15px;
    color: red;
}

.case-study h6 {
    font-size: 18px;
    padding-top: 15px;
    color: #14AE5C;
}

.case-study p, .case-study ul {
    font-size: 16px;
    padding-top: 10px;
}

.case-study ul {
    list-style-type: square;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.case-study li {
    list-style-type: disc;
}

/* If you have links within your case study, you might want to style them too */
.case-study a {
    color: #0077cc;
    text-decoration: none;
}

.case-study a:hover {
    text-decoration: underline;
}

.picture-container1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.picture-container1 img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}


/* ------------------------------------------------------------------------------------------------- */

.visual-evidence {
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.zoom-img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjust this value as needed to make the modal larger */
    max-width: none; /* Remove the max-width restriction */
}

.modal-content img {
    max-width: 100%; /* Adjust this if you want to limit the maximum width */
    max-height: 80vh; /* This will make the image take up 80% of the viewport height */
    height: auto; /* This will maintain the aspect ratio */
    display: block; /* Ensures no inline spacing issues */
    margin: 0 auto; /* Centers image within modal-content */
}


.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

